@media (min-width: 76.5rem) {
  .container {
    max-width: 75rem;
    margin: 0 auto;
  }
}

@media (min-width: 48rem) {
  .container {
    width: 90%;
  }
}

@font-face{
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 500, 800;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/*sofri ate descobrir o grid*/

body {
    margin-top: 3.5rem;
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 1rem;
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    
}       

main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.25rem;
    box-shadow: 0.313rem 0.313rem 0.313rem 0.313rem rgb(0, 0, 0);
    border: hsl(0, 0%, 7%) 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21.875rem;
    padding: 1.25rem;
}
.cartão{    display: flex;
    flex-direction: column;
    align-items: start;
}
.cartão-imagem {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    overflow: hidden;
 
}

.imagens-principal {
    width: 100%;
    border-radius: 0.688rem;
}

 
.link-principal {
    color: hsl(0, 0%, 7%);
    text-decoration: none;
    font-weight: 800;
    font-size: 0.875rem;
     margin-top: 1.25rem;
    margin-bottom: 0.625rem;
    padding: 0.3125rem 0.625rem;
    background-color: hsl(47, 88%, 63%);
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    text-align: center;
}
.link-principal:hover {
    background-color: hsl(47, 88%, 50%);
    color: hsl(0, 0%, 100%);
    transition: 0.3s ease;
}
.cartão-titulo {
    margin-top: 1.25rem;
    font-size: 1.5rem;
    color: hsl(0, 0%, 7%);
    
}
.cartão-descricao {
    margin-top: 0.625rem;
    color: hsl(0, 0%, 42%)
}
.cartão-autor {
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
}
.autor-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.938rem;
}
.nome-autor {
    color:hsl(0, 0%, 7%);
    font-size: 0.875rem;
    font-weight: 800;
}
.attribution {
    font-size: 0.75rem;
    color: hsl(0, 0%, 100%);
    margin-top: 1.25rem;
}
.attribution a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}